.top-nav-container{
    height:8%;
    // background-color: rgb(44, 44, 44);
    background-color: #2874f0;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
    justify-content: space-between;
    padding: 0 5%;
    h4{
        color: white;
        font-size: larger;
    }
}