@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.top-nav-container{
    height:100%;
    
  font-family: 'Handlee', cursive;
    // background-color: rgb(44, 44, 44);
    // background-color: #2874f0;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    justify-content: center;
    padding: 0 5%;
    h4{
        color: black;
        font-size: larger;
        margin:10px !important;
    }
    img{
        height:40px;
        width:80px;
    }
}